
<h1 class="font-extrabold py-6 px-8 text-2xl text-gray-700">We are here to help you go places in style</h1>
<p class="text-xs text-gray-700 text-center">Our goal is to help you look and feel confident as you take on the world,
  whether it be for a casual weekend gateway <br>or a formal occassion.We strive to make fashion accessible to
  everyone,no matter your budget.We are dedicated to <br>curating a wide range of high-quality,stylish products that
  cater to different tadtes and preferences. </p>
<p style="font-style: italic ; text-align: center; font-size: large;padding-top:15px;">Jessica Robinson</p>
<p style="font-style: sans-serif; text-align: center;" class="pb-8 font-serif">Jessica Robbinson &#x2022; CEO</p>
<div class="box">
 <div style="height:450px;">
  <img
    src="https://img.freepik.com/free-photo/vertical-portrait-happy-enthusiastic-female-tailor-smiling-while-enjoying-her-work-workshop-cutting-fabric-with-scissors-planning-sew-sewing-machine-new-peace-garment_176420-14571.jpg?ga=GA1.1.1746845687.1722586531&semt=ais_hybrid"
     class="rounded-md ml-16" style="height:450px; width: 450px;">
 </div>
 <div style="height:450px;">
  <div>
    <img
      src="https://img.freepik.com/premium-photo/man-suit-is-tying-dress-dressing-room_861161-27627.jpg?ga=GA1.1.1746845687.1722586531&semt=ais_hybrid"
      class="rounded-lg" style="height: 225px; width: 500px;">

  </div>
  <div class="mt-2 flex" style="margin-left: -20px;">
    <img
        src="https://img.freepik.com/free-photo/back-view-woman-using-sewing-machine_23-2148242121.jpg?ga=GA1.1.1746845687.1722586531&semt=ais_hybrid"
        style="height:230px; width: 230px;" class="ml-4 rounded-lg ">
      <img
        src="https://img.freepik.com/free-photo/medium-shot-woman-sewing-with-machine_23-2148875358.jpg?ga=GA1.1.1746845687.1722586531&semt=ais_hybrid"
        width="300" height="100" class="ml-8 rounded-lg" style="height:230px; width: 230px;">
  </div>
 </div>
</div>

<div
  class=" bg-yellow-300 flex space-x-10 justify-between py-8 px-12 m-14 border-2 border-black shadow-lg shadow-black rounded-lg text-lg font-bold">
  <p>25+<br>years</p>
  <p>120+<br>stores</p>
  <p>140K+<br>customers</p>
  <p>20+<br>Stores</p>
  <p>99%<br>Satisfied</p>
</div>

<div class="flex ml-14 space-x-4">
  <div style="background-color: #FFE0D3;" class="rounded-lg">
    <p class="text-red-900 pt-20 pl-8 pb-2 ">Our Product Quality </p>
    <p class="font-bold text-2xl text-left pl-8 pb-8 text-gray-700">Setting the standard for <br>quality of your fashion
      style</p>
    <p class="text-sm text-gray-700 pl-8">At Chic Couture we prioritize exceptional quality in every piece we create.
    </p>
    <p class="text-sm text-gray-700 pl-8 pb-6 pr-20">Our garments are crafted with meticulous attention to detail,using
      the<br> finest materials to ensure durability and style.</p>
    <p class="text-sm text-gray-700 pl-8 pb-8">Each product undergoes rigorous quality control to meet our high
      <br>standars,offering you unmatched craftsmanship and lasting elegance.</p>

    <div class="flex">
      <div>


        <p class="text-md font-bold text-gray-700 pl-8 pb-4">Quality Materials</p>
        <p class="text-sm text-gray-700 pl-8 pb-20">At Chic Coture we use only the finest <br>materials,ensuring each
          piece is both beautiful <br>and durable,offering a luxurious feel that<br> stands the test of time</p>
      </div>
      <div>
        <p class="text-md font-bold text-gray-700 pl-8 pb-4">Superior Craftsmanship</p>
        <p class="text-sm text-gray-700 pl-8 pb-20 pr-8">Our products feature superior<br> craftsmanship with meticulous
          attention to <br>detail,ensuring unmatched elegance and<br> durability</p>
      </div>
    </div>
  </div>
  <div><img
      src="https://img.freepik.com/free-photo/side-view-woman-looking-mirror_23-2149640914.jpg?ga=GA1.1.1746845687.1722586531&semt=ais_hybrid"
      class="rounded-lg"></div>
</div>
<div class="flex ml-14 mt-12  space-x-8">
  <div class="mr-20">
    <p class="font-bold text-xl text-gray-700 pb-8">Answer to your Questions?</p>
    <p class="text-sm text-gray-700 pb-10">Got questions? We've got answers.Below are some of the most<br>frequent asked
      questions about Chic Coture.If you can't find what<br>you're looking for, feel how to contact us.we're here to
      help!</p>
    <img src="https://www.iconpacks.net/icons/free-icons-6/free-icon-left-quotation-mark-yellow-21337.png"
      class="h-80 w-60">
  </div>
  <div class="ml-10">
    <details style="background-color: #FFE0D3;"
      class="m-8 p-4 pr-20 rounded-md border-2 border-black shadow-xl shadow-black">
      <summary class="pb-4">What is your return policy?</summary>
      <p class="text-sm text-gray-700">We offer a 30-day return policy for all unused items with original tags<br>
        attached.Simply contact our customer service to initiate a return and <br>recieve a prepaid shipping label.</p>
    </details>
    <details style="background-color: #FFE0D3;" class="m-8 p-4 pr-8 rounded-md">
      <summary class="pb-4">How do I track my order?</summary>
      <p class="text-sm text-gray-700">We offer a 30-dat return policy for all unused items with original tags<br>
        attached.Simply contact our customer service to initiate a return and <br>recieve a prepaid shipping label.</p>
    </details>
    <details style="background-color: #FFE0D3;" class="m-8 p-4 pr-8 rounded-md">
      <summary class="pb-4">Are your products sustainably made?</summary>
      <p class="text-sm text-gray-700">We offer a 30-dat return policy for all unused items with original tags<br>
        attached.Simply contact our customer service to initiate a return and <br>recieve a prepaid shipping label.</p>
    </details>
    <details style="background-color: #FFE0D3;" class="m-8 p-4 pr-8 rounded-md">
      <summary class="pb-4">Do you offer international Shipping?</summary>
      <p class="text-sm text-gray-700">We offer a 30-dat return policy for all unused items with original tags<br>
        attached.Simply contact our customer service to initiate a return and <br>recieve a prepaid shipping label.</p>
    </details>
    <details style="background-color: #FFE0D3;" class="m-8 p-4 pr-8 rounded-md ">
      <summary class="pb-4">How can i find the right Size?</summary>
      <p class="text-sm text-gray-700">We offer a 30-dat return policy for all unused items with original tags<br>
        attached.Simply contact our customer service to initiate a return and <br>recieve a prepaid shipping label.</p>
    </details>
  </div>
</div>



<p class="text-2xl font-bold text-gray-700 text-center pb-4">What say about us</p>
<div class="flex ml-14 justify-between space-x-4 m-14">
  <div class="rounded-lg p-8" style="background-color: #FFE0D3;">
    <span class=" text-amber-400 font-bold text-md mr-2 float-right -mt-11" id="stars">★★★★☆</span>
    "What sets them apart from other online stores is their attention to detail-the packaging is beatutiful and the
    items are delivered on time."
    <div class="flex pt-4">
      <img
        src="https://img.freepik.com/premium-photo/portrait-young-indian-man-smiling-camera-park_1308157-11959.jpg?ga=GA1.1.1746845687.1722586531&semt=ais_hybrid"
        class="h-10 w-10 rounded-full">
      <div>
        <p class="pl-2">Ronald Richards</p>
        <p class="pl-2">Milan,Italy</p>
        <!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
  <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z"/>
</svg>
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
  <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z"/>
</svg> -->

      </div>

    </div>


  </div>
  <div
    class="rounded-lg p-8 border-2 border-black shadow-lg shadow-slate-900/20 shadow-b-2  shadow-r-[3px] -shadow-spread-2 "
    style="background-color: #FFE0D3;">
    <span class=" text-red-400 font-bold text-md mr-2 float-right -mt-11" id="stars">★★★★☆</span>
    "Their collection is always on -trend and high-qualoty and I can always find something that fits my personal style.I
    will definitely order more!"
    <div class="flex pt-4">
      <img
        src="https://img.freepik.com/premium-photo/portrait-beautiful-young-woman-black-dress-white-background_1308157-51370.jpg?ga=GA1.1.1746845687.1722586531&semt=ais_hybrid"
        class="h-10 w-10 rounded-full">

      <div>
        <p class="pl-2 pb-0">Therresa Web</p>
        <p class="pl-2 pt-0">Paris,France</p>
      </div>
    </div>
  </div>
  <div class="rounded-lg p-8" style="background-color: #FFE0D3;">
    <span class=" text-red-400 font-bold text-md mr-2 float-right -mt-11" id="stars">★★★★☆</span>
    "The best part is that their customer service is fantastic.I wouls highly recommended this store to anyone looking
    for great fashion finds"
    <div class="flex pt-4">
      <img
        src="https://img.freepik.com/free-photo/portrait-female-tourist-visiting-great-wall-china_23-2151261868.jpg?ga=GA1.1.1746845687.1722586531&semt=ais_hybrid"
        class="h-10 w-10 rounded-full">
      <div>
        <p class="pl-2">Jessica Robinson</p>
        <p class="pl-2">London,UK</p>
      </div>
    </div>


  </div>
</div>
<div class="flex m-14 space-x-4">
  <div id="pages" class="bg-lime-700 rounded-xl pr-32 p-12 ">
    <p class="font-bold pb-4">Pages</p>
    <p class="underline text-gray-700 pb-2">New Arrival</p>
    <p class="underline text-gray-700 pb-2">Shop</p>
    <p class="underline text-gray-700 pb-2">Services</p>
    <p class="underline text-gray-700 pb-2">Collection</p>
    <p class="underline text-gray-700 pb-2">About us</p>
    <p class="underline text-gray-700 pb-2">Contact us</p>
  </div>
  <div class="bg-green-400 rounded-xl p-14" id="address">
    <p class="font-bold text-center pb-4 text-lg">Chic Coture</p>
    <p class="text-sm text-gray-700 text-center">Welcome to Chic Coture,your go-to for timeless elegance<br>and modern
      style.Explore our carefully curated collections.<br>featuring pieces crafted with meticulous attention to detail.
    </p>
    <p class="text-sm text-gray-700 text-center pb-4">Elevate your wardrobe with Chic Coture.</p>
    <p class="text-sm text-gray-700 text-center">ADDRESS:6688Princess Road,London,Greater<br>London BAS 23JK,UK.
    </p>
    <p class="text-sm text-center text-gray-700">PHONE:(012) 800 456 789-987</p>
  </div>
  <div class="bg-green-400 rounded-lg p-8" id="social">
    <p class="font-bold text-lg pb-4 text-center">Let's Get Social</p>
    <button
      class="border-2 border-gray px-4 ml-8 mb-4 py-2 -rotate-12 transform rounded-full bg-white">Youtube</button><br>
    <span>
      <button class="py-2 mb-4 mr-2 px-4 -rotate-12 transform rounded-full bg-lime-700 float-left"
        id="insta">Instagram</button>
      <button class=" py-2 mb-8 px-4 py-2 -rotate-12 transform rounded-full bg-violet-400 "
        id="linkedin">LinkedIn</button><br>
    </span>
    <button class="py-2 mb-4 px-4 ml-8 -rotate-12 transform rounded-full bg-yellow-400">Facebook</button><br>
    <button class="py-2 mb-2 ml-20 px-4 -rotate-12 transform rounded-full bg-red-100">Twitter</button>

  </div>

</div>
<footer class="p-8 rounded-lg" id="footer">
  <p class="text-white text-center text-sm"> Couture All Rights Reserved 2024.<span
      class="underline pl-2">Lisencing</span></p>
</footer>