<div class="box">
    <div class="cart-box">
        <div class="cart-items-list">
            @for (item of cartItems; track item.id) {
            <hr>
            <div class="cart-box cart-item">
                <div>
                    <div class="list-box"><span><img src="Images/square.png" width="15px" height="15px" id="img-icon"></span><span>{{item.title|slice:0:50}}...</span></div>
                    <img [src]="item.image" alt="item.image" width="100" height="50">
                </div>
                <div class="my-text"><span>{{item.description|slice:0:100}}...</span>
                <h1>$ {{item.price}}</h1>
                </div>
            </div>
            }
        </div>
        <div class="check-out-list">
          <div class="my-text-cart">
            Order Summary<br>
            @for (item of cartItems; track item.id) {
            <span class="pt-10">{{item.title}}</span>
            }
        </div>
    </div>
</div>

